<%- include('../layouts/header') %>


<div class="dashboard-container">
    <div class="dashboard-card">
        <h2>Welcome, <span id="userName">John Doe</span>!</h2>
        <p>Email: <span id="userEmail">johndoe@example.com</span></p>
        <p>Welcome to your dashboard. Here, you can manage your profile and access your personalized content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
        <p>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
        <p>Donec aliquet. Nulla venenatis. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium blandit arcu. Praesent egestas neque eu enim.</p>
    </div>
</div>

  <%- include('../layouts/footer') %>